.bose-header{
    position:relative;
    height: 108px;

    &__logo{
        height:100%;
        text-align: center;
        &-image{
            height:100%;
        }
    }

    &__heading{
        display: flex;
        align-self: center;
        
    }

    &__nav{
        .contacts{
        position: absolute;
        right: 50px;
        top: 50%;
        text-transform: uppercase;
        font-family: 'Gotham',Verdana,sans-serif;
        }
    }
}